.card {
  margin: 20px;
  box-shadow: 1px 1px #edc7b7;
}

.deploy {
  color: #000;
}

.deploy:hover,
.gitcat:hover {
  color: #ac3b61;
}

.img-container img {
  width: 100%;
  height: auto;
}

.gitcat {
  width: 40px;
  padding-right: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
}

h3 {
  color: #000;
}
