.card {
  margin: 20px;
  box-shadow: 1px 1px #edc7b7;
}

.deploy {
  color: #000;
}

/* .deploy:hover,
.gitcat:hover {
  color: #ac3b61;
} */

.img-container img {
  width: 100%;
  height: auto;
}

/* .gitcat {
  width: 40px;
  padding-right: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
} */

/* Controls the visible portion of the animation */
.view {
  float: left;
  border: 10px solid #fff;
  overflow: scroll;
  position: relative;
  text-align: center;
  cursor: default;
}

.view .mask,
.view .content {
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;
}

.view img {
  display: block;
  position: relative;
}

.view h2 {
  text-align: center;
  position: relative;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 20px 0 10px 0;
}

.view p {
  font-family: "Open-Sans", sans-serif;
  font-size: 1em;
  position: relative;
  padding: 10px 20px 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info {
  padding: 7px 14px;
  text-align: center;
  color: #fff;
  background-color: #123c69;
  margin: 0 10px 20px;
  border-radius: 5px;
}

/* Controls the animation of the card */
.view-copy img {
  transition: all 0.3s ease-in-out;
}

.view-copy .mask {
  width: 100%;
  overflow: auto;
  background-color: rgba(146, 96, 91, 0.3);
  transform: translateX(-500px);
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.view-copy h2 {
  background-color: rgba(255, 255, 255, 0.5);
  color: #123c69;
  box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}

.view-copy p {
  opacity: 0;
  color: #333;
  transition: all 0.2s linear;
}

/* Hover Effect */
.view-copy:hover .mask {
  transform: translateX(0px);
}

.view-copy:hover img {
  transform: translateX(500px);
  transition-delay: 0.1s;
}

.view-copy:hover p {
  opacity: 1;
  transition-delay: 0.4s;
}

@media screen and (max-width: 468px) {
  .info {
    margin: 0 10px;
  }

  .view h2 {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    margin: 10px 0 0 0;
  }

  .view .mask,
  .view .content {
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
  }

  .view {
    overflow: scroll;
  }

  .view h2 {
    font-size: 18px;
  }

  .view p {
    font-size: 12px;
  }
}
