.connect-back {
  background-color: #eee2dc;
  min-height: 100vh;
  width: 100%;
  padding: 30px;
}

.icons {
  max-height: 50px;
  padding-right: 40px;
}

.mailcall {
  font-size: 60px;
  color: #000;
  padding-right: 40px;
}

.mailcall:hover,
.phone a:hover {
  color: #000;
}

.icons {
  display: flex;
  flex-direction: row;
}

.phone {
  font-family: "Open-Sans", sans-serif;
  margin-top: 20px;
  font-size: 1.5em;
}

.phone a {
  color: #000000;
}
