header {
  background-color: #123c69;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fed766;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  padding-right: 20px;
}

.navbar-toggler-icon {
  color: #fff;
}

.nav-brand {
  float: left;
  padding: 20px;
}
.navbar-nav {
  float: right;
}
