header {
  background-color: #123c69;
  padding: 10px 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fed766;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  padding-left: 50px;
}

.navbar-toggler-icon {
  color: #fff;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}
